
<div class="search_box" ng-controller="findNameProductController">
    <span>Search</span>
    <form>
        <input type="text"
               ng-model="findproduct.ProductName">
        <input type="submit" value="" ng-click="find()">
    </form>
    <div class="clear"></div>
</div>
