
@{
    ViewBag.Title = "Tin Tức Theo Danh Mục";
    Layout = "~/Areas/Client/Views/Shared/_LayoutNotSlider.cshtml";
}
<script src="@Url.Content("~/Scripts/app/clientController/clientContentByCategoryContentID.js")"></script>

<div class="content-bottom-right" ng-controller="clientContentByCategoryContentID">
    <h3>{{GetCategoryContentForClientHomePage.Name}}</h3>
    <div class="section group" ng-show="ShowContentDontBlank">
        <div class="grid_1_of_4 images_1_of_4" ng-repeat="contentbycategorycontent in GetContentByCategoryContentForClientHomePage">
            <a href="/Client/HomeClient/ContentDetail?id={{contentbycategorycontent.ContentID}}"><img ng-src="{{contentbycategorycontent.Image}}" alt="" style="width:120px; height:120px;" /></a>
            <h4><a href="/Client/HomeClient/ContentDetail?id={{contentbycategorycontent.ContentID}}" style="padding-bottom: 5px; color: #e44f2b; font-size: 13px; text-align: justify; letter-spacing: -0.02em; padding-top: 5px;">{{contentbycategorycontent.Title}}</a></h4>
        </div>
    </div>
    <div ng-show="ShowContentBlank">
        <p style="text-align:center;">Tin tức đang được cập nhật ......</p>
    </div>
</div>

