
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="content_bottom">
        <div class="wrap">
            @Html.Partial("_ContentLeft")
            @Html.Partial("_ContentRight")
            <div class="clear"></div>
        </div>
    </div>
</div>
