/*Fonts*/
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'), url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-BoldItalic-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'), url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBold-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'), url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Italic-webfont.woff') format('woff'), url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Italic-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'), url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-LightItalic-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Semibold-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot') format('truetype');
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'), url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-SemiboldItalic-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'Universe';
    src: url('../fonts/Univers.eot') format('truetype');
    src: url('../fonts/Univers.eot?#iefix') format('embedded-opentype'), url('../fonts/Univers.woff') format('woff'), url('../fonts/Univers.ttf') format('truetype'), url('../fonts/Univers.svg') format('svg');
}


@font-face {
    font-family: 'Web-extraLight';
    src: url('../fonts/Web-Extra Light.eot');
    src: url('../fonts/Web-Extra Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Web-Extra Light.woff') format('woff'), url('../fonts/Web-Light.ttf') format('truetype'), url('../fonts/Web-Light.svg#open_sansregular') format('svg');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Web-lightItalic';
    src: url('../fonts/Web-Light Italic.eot');
    src: url('../fonts/Web-Light Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Web-Light Italic.woff') format('woff'), url('../fonts/Web-Light Italic.ttf') format('truetype'), url('../fonts/Web-Light Italic.svg#open_sansregular') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Web-Light';
    src: url('../fonts/Web-Light.eot');
    src: url('../fonts/Web-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Web-Light.woff') format('woff'), url('../fonts/Web-Light.ttf') format('truetype'), url('../fonts/Web-Light.svg#open_sansregular') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Web-Thin Italic';
    src: url('../fonts/Web-Thin Italic.eot');
    src: url('../fonts/Web-Thin Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Web-Thin Italic.woff') format('woff'), url('../fonts/Web-Thin Italic.ttf') format('truetype'), url('../fonts/Web-Thin Italic.svg#open_sansregular') format('svg');
    font-weight: 100;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'Web-Thin';
    src: url('../fonts/Web-Thin.eot');
    src: url('../fonts/Web-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Web-Thin.woff') format('woff'), url('../fonts/Web-Thin.ttf') format('truetype'), url('../fonts/Web-Thin.svg#open_sansregular') format('svg');
    font-weight: 100;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'Web-Extra Light Italic';
    src: url('../fonts/Web-Extra Light Italic.eot');
    src: url('../fonts/Web-Extra Light Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Web-Extra Light Italic.woff') format('woff'), url('../fonts/Web-Extra Light Italic.ttf') format('truetype'), url('../fonts/Web-Extra Light Italic.svg#open_sansregular') format('svg');
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
}

html {
    overflow-x: hidden;
}

body {
    /*overflow-x: hidden;*/
    height:100%
}

.font-universe {
    font-family: 'Universe';
}

.font-helvetica {
    font-family: 'Helvetica Neue';
}

.font-bold {
    font-family: 'OpenSans-Bold';
}

.font-bold-italic {
    font-family: 'OpenSans-BoldItalic';
}

.font-extraBold {
    font-family: 'OpenSans-ExtraBold';
}

.font-extraBold-italic {
    font-family: 'OpenSans-ExtraBoldItalic';
}

.font-italic {
    font-family: 'OpenSans-Italic';
}

.font-light {
    font-family: 'OpenSans-Light';
}

.font-light-italic {
    font-family: 'OpenSans-LightItalic';
}

.font-semiBold {
    font-family: 'OpenSans-Semibold';
}

.font-semiBold-italic {
    font-family: 'OpenSans-SemiboldItalic';
}

.font-thin {
    font-family: 'Web-Thin';
}

.font-thin-italic {
    font-family: 'Web-Thin Italic';
}

.font-light-web {
    font-family: 'Web-Light';
}

.font-lightweb-italic {
    font-family: 'Web-lightItalic';
}

.font-extralight-italic {
    font-family: 'Web-Extra Light Italic';
}

.font-extralight {
    font-family: 'Web-extraLight';
}

.font-light-italic {
    font-family: 'Web-Extra Light Italic';
}


/*common style*/
h1, h2, h3, h4, h5 {
    line-height: 1.42857143 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
a:hover, a:focus, a:visited, a:active {
    text-decoration: none !important;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.padding-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.padding-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.no-margin {
    margin: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-margin-right {
    margin-right: 0px !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-border {
    border: none !important;
}

.no-border-top {
    border-top: none !important;
}

.no-border-bottom {
    border-bottom: none !important;
}

.no-border-left {
    border-left: none !important;
}

.no-border-right {
    border-right: none !important;
}

.clear-div {
    clear: both;
    height: 10px;
}

.clear-0 {
    clear: both;
    height: 0;
}

.clear-1 {
    clear: both;
    height: 1px;
}

.clear-5 {
    clear: both;
    height: 5px;
}

.clear-10 {
    clear: both;
    height: 10px;
}

.clear-15 {
    clear: both;
    height: 15px;
}

.clear-20 {
    clear: both;
    height: 20px;
}

.clear-24 {
    clear: both;
    height: 24px;
}

.clear-25 {
    clear: both;
    height: 25px;
}

.clear-26 {
    clear: both;
    height: 26px;
}

.clear-28 {
    clear: both;
    height: 28px;
}

.clear-30 {
    clear: both;
    height: 30px;
}

.clear-35 {
    clear: both;
    height: 35px;
}

.clear-40 {
    clear: both;
    height: 40px;
}

.clear-45 {
    clear: both;
    height: 45px;
}

.clear-50 {
    clear: both;
    height: 50px;
}

.clear-55 {
    clear: both;
    height: 55px;
}

.clear-60 {
    clear: both;
    height: 60px;
}

.clear-65 {
    clear: both;
    height: 65px;
}

.clear-70 {
    clear: both;
    height: 70px;
}

.clear-75 {
    clear: both;
    height: 75px;
}

.clear-80 {
    clear: both;
    height: 80px;
}

.clear-85 {
    clear: both;
    height: 85px;
}

.clear-90 {
    clear: both;
    height: 90px;
}

.clear-120 {
    clear: both;
    height: 120px;
}

.clear-130 {
    clear: both;
    height: 130px;
}

.clear-140 {
    clear: both;
    height: 140px;
}

.clear-160 {
    clear: both;
    height: 160px;
}

.clear-180 {
    clear: both;
    height: 180px;
}

.clear-200 {
    clear: both;
    height: 200px;
}

.clear-220 {
    clear: both;
    height: 220px;
}

.clear-240 {
    clear: both;
    height: 240px;
}

.clear-260 {
    clear: both;
    height: 260px;
}

.clear-280 {
    clear: both;
    height: 280px;
}

.clear-300 {
    clear: both;
    height: 300px;
}

.clear-305 {
    clear: both;
    height: 305px;
}

.clear-320 {
    clear: both;
    height: 320px;
}

.clear-340 {
    clear: both;
    height: 340px;
}

.clear-360 {
    clear: both;
    height: 360px;
}

.clear-370 {
    clear: both;
    height: 370px;
}

.clear-380 {
    clear: both;
    height: 380px;
}

.clear-400 {
    clear: both;
    height: 400px;
}

.clear-420 {
    clear: both;
    height: 420px;
}

.clear-440 {
    clear: both;
    height: 440px;
}

.clear-460 {
    clear: both;
    height: 460px;
}

.clear-480 {
    clear: both;
    height: 480px;
}

.clear-500 {
    clear: both;
    height: 500px;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.position-left {
    position: absolute;
    left: 0;
}

.position-right {
    position: absolute;
    right: 0;
}
/*margin*/
.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-25 {
    margin-left: 25px;
}

.margin-left-5 {
    margin-left: 5px;
}
/*responsive*/
.respon-5 {
    width: 5%;
}

.respon-10 {
    width: 10%;
}

.respon-15 {
    width: 15%;
}

.respon-20 {
    width: 20%;
}

.respon-25 {
    width: 25%;
}

.respon-30 {
    width: 30%;
}

.respon-35 {
    width: 35%;
}

.respon-40 {
    width: 40%;
}

.respon-45 {
    width: 45%;
}

.respon-50 {
    width: 50%;
}

.respon-55 {
    width: 55%;
}

.respon-60 {
    width: 60%;
}

.respon-65 {
    width: 65%;
}

.respon-70 {
    width: 70%;
}

.respon-75 {
    width: 75%;
}

.respon-80 {
    width: 80%;
}

.respon-85 {
    width: 85%;
}

.respon-90 {
    width: 90%;
}

.respon-95 {
    width: 95%;
}

.respon-100 {
    width: 100%;
}

/*color*/
.gray {
    color: #a2aaac !important;
}

.gray-light {
    color: #bababa !important;
}

.green {
    color: #9FC569 !important;
}

.orange {
    color: #ED7A53 !important;
}

.blue {
    color: #3399cc !important;
}

.red-pink {
    color: #ee2a4c !important;
}

.white {
    color: #fff !important;
}

.black {
    color: #000 !important;
}

.red {
    color: red;
}

.green {
    color: green;
}

.color-eb {
    color: #ebebeb !important;
}

.color-33 {
    color: #333 !important;
}

.color-35 {
    color: #353535 !important;
}

.color-78 {
    color: #787878 !important;
}

.color-77 {
    color: #777777 !important;
}

.color-75 {
    color: #757575 !important;
}

.color-96 {
    color: #969696 !important;
}

.color-99 {
    color: #999999;
}

.color-66 {
    color: #666666 !important;
}

.color-36 {
    color: #363636 !important;
}

.color-39 {
    color: #393939 !important;
}

.color-9a {
    color: #9a9a9a !important;
}

.color-55 {
    color: #555555 !important;
}

.color-4d {
    color: #4d4d4d !important;
}

.color-80 {
    color: #808080 !important;
}

.color-1d {
    color: #1d1d1d !important;
}

.color-a3 {
    color: #a3a3a3;
}

.color-76 {
    color: #767676;
}
/*background-color*/
.bg-white {
    background-color: #fff !important;
}

.bg-black {
    background-color: #000 !important;
}
/*font pt*/
.font-8x {
    font-size: 8px;
}


.font-10 {
    font-size: 10pt !important;
}

.font-11 {
    font-size: 11pt !important;
}

.font-12 {
    font-size: 12pt !important;
}

.font-13 {
    font-size: 13pt !important;
}

.font-14 {
    font-size: 14pt !important;
}

.font-15 {
    font-size: 15pt !important;
}

.font-16 {
    font-size: 16pt !important;
}

.font-17 {
    font-size: 17pt !important;
}

.font-18 {
    font-size: 18pt !important;
}

.font-19 {
    font-size: 19pt !important;
}

.font-20 {
    font-size: 20pt !important;
}

.font-21 {
    font-size: 21pt !important;
}

.font-22 {
    font-size: 22pt !important;
}

.font-23 {
    font-size: 23pt !important;
}

.font-24 {
    font-size: 24pt !important;
}

.font-25 {
    font-size: 25pt !important;
}

.font-26 {
    font-size: 26pt !important;
}

.font-27 {
    font-size: 27pt !important;
}

.font-28 {
    font-size: 28pt !important;
}

.font-29 {
    font-size: 29pt !important;
}

.font-30 {
    font-size: 30pt !important;
}

.font-31 {
    font-size: 31pt !important;
}

.font-32 {
    font-size: 32pt !important;
}

.font-33 {
    font-size: 33pt !important;
}

.font-36x {
    font-size: 36px;
}

.font-34x {
    font-size: 34px;
}

.font-72x {
    font-size: 72px;
}

.font-54x {
    font-size: 54px;
}

/*font px*/
.font-10x {
    font-size: 10px !important;
}

.font-11x {
    font-size: 11px !important;
}

.font-12x {
    font-size: 12px !important;
}

.font-13x {
    font-size: 13px !important;
}

.font-14x {
    font-size: 14px !important;
}

.font-15x {
    font-size: 15px !important;
}

.font-16x {
    font-size: 16px !important;
}

.font-17x {
    font-size: 17px !important;
}

.font-18x {
    font-size: 18px !important;
}

.font-19x {
    font-size: 19px !important;
}

.font-20x {
    font-size: 20px !important;
}

.font-21x {
    font-size: 21px !important;
}

.font-22x {
    font-size: 22px !important;
}

.font-23x {
    font-size: 23px !important;
}

.font-24x {
    font-size: 24px !important;
}

.font-25x {
    font-size: 25px !important;
}

.font-26x {
    font-size: 26px !important;
}

.font-27x {
    font-size: 27px !important;
}

.font-28x {
    font-size: 28px !important;
}

.font-29x {
    font-size: 29px !important;
}

.font-30x {
    font-size: 30px !important;
}

.font-31x {
    font-size: 31px !important;
}

.font-32x {
    font-size: 32px !important;
}

.font-34x {
    font-size: 34px !important;
}

.font-42x {
    font-size: 42px !important;
}

.font-44x {
    font-size: 44px !important;
}

.font-48x {
    font-size: 48px !important;
}

.font-52x {
    font-size: 52px !important;
}

.font-60x {
    font-size: 60px !important;
}

.font-62x {
    font-size: 62px !important;
}

.font-64x {
    font-size: 64px !important;
}

.font-66x {
    font-size: 66px !important;
}

.font-68x {
    font-size: 68px !important;
}

.font-72x {
    font-size: 72px !important;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline !important;
}

.decoration-none{
    text-decoration: none !important;
}

.margin-auto {
    margin: 0 auto;
}
/*margin right*/
.mr-0 {
    margin-right: 0px !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-15 {
    margin-right: 0px !important;
}

.mr-16 {
    margin-right: 16px !important;
}

.mr-17 {
    margin-right: 17px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr-25 {
    margin-right: 25px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-35 {
    margin-right: 35px !important;
}

.mr-40 {
    margin-right: 40px !important;
}

.mr-45 {
    margin-right: 45px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

/*margin left*/
.ml-25t {
    margin-left: -25px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.ml-25 {
    margin-left: 25px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-35 {
    margin-left: 35px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.ml-45 {
    margin-left: 45px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.ml-60 {
    margin-left: 60px !important;
}

.ml-70 {
    margin-left: 70px !important;
}

.ml-80 {
    margin-left: 80px !important;
}

.ml-90 {
    margin-left: 90px !important;
}

.ml-100 {
    margin-left: 100px !important;
}

.ml-110 {
    margin-left: 110px !important;
}

/*margin top*/
.mt-5 {
    margin-top: 5px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mt-26 {
    margin-top: 26px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-35 {
    margin-top: 35px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-45 {
    margin-top: 45px !important;
}

.mt-50 {
    margin-top: 50px !important;
}
/*margin bottom*/
.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-35 {
    margin-bottom: 35px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-45 {
    margin-bottom: 45px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

/*max width*/
.max-40 {
    max-width: 40px !important;
}

.max-45 {
    max-width: 45px !important;
}

.max-50 {
    max-width: 50px !important;
}

.max-55 {
    max-width: 55px !important;
}

.max-65 {
    max-width: 65px !important;
}

.max-70 {
    max-width: 60px !important;
}

.max-70 {
    max-width: 70px !important;
}

.max-80 {
    max-width: 80px !important;
}

.max-85 {
    max-width: 85px !important;
}

.max-90 {
    max-width: 90px !important;
}

.max-100 {
    max-width: 100px !important;
}

.max-110 {
    max-width: 110px !important;
}

.max-115 {
    max-width: 115px !important;
}

.max-120 {
    max-width: 120px !important;
}

.max-125 {
    max-width: 125px !important;
}

.max-130 {
    max-width: 130px !important;
}

.max-135 {
    max-width: 135px !important;
}

.max-140 {
    max-width: 140px !important;
}

.max-150 {
    max-width: 150px !important;
}

.max-160 {
    max-width: 160px !important;
}

.max-170 {
    max-width: 170px !important;
}

.max-175 {
    max-width: 175px !important;
}

.max-180 {
    max-width: 180px !important;
}

.max-190 {
    max-width: 190px !important;
}

.max-200 {
    max-width: 200px !important;
}

.max-210 {
    max-width: 210px !important;
}

.max-205 {
    max-width: 205px !important;
}

.max-230 {
    max-width: 230px !important;
}

.max-265 {
    max-width: 265px !important;
}

.max-270 {
    max-width: 270px !important;
}

.max-290 {
    max-width: 290px !important;
}

.max-320 {
    max-width: 320px !important;
}

.max-330 {
    max-width: 330px !important;
}

.max-360 {
    max-width: 360px !important;
}

.max-370 {
    max-width: 370px !important;
}

.max-400 {
    max-width: 400px !important;
}

.max-420 {
    max-width: 420px !important;
}

.full-width {
    max-width: 100% !important;
}

.percent-85 {
    width: 85% !important;
    max-width: 100% !important;
}

/*height*/
.min-height-20 {
    min-height: 20px;
}

.min-height-40 {
    min-height: 40px;
}

.min-height-60 {
    min-height: 60px;
}

.min-height-80 {
    min-height: 80px;
}

.min-height-100 {
    min-height: 100px;
}

.min-height-120 {
    min-height: 120px;
}

.min-height-140 {
    min-height: 140px;
}

.min-height-160 {
    min-height: 160px;
}

.min-height-180 {
    min-height: 180px;
}

.min-height-200 {
    min-height: 200px;
}

/*padding*/

.padding-side-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.padding-side-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.padding-side-25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.padding-side-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.padding-side-35 {
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.padding-side-40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.padding-side-45 {
    padding-left: 45px !important;
    padding-right: 45px !important;
}

.padding-side-50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.padding-side-55 {
    padding-left: 55px !important;
    padding-right: 55px !important;
}

.padding-side-80 {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.padding-10 {
    padding: 10px !important;
}

.padding-15 {
    padding: 15px !important;
}

.padding-20 {
    padding: 20px !important;
}

.padding-25 {
    padding: 25px !important;
}

.padding-30 {
    padding: 30px !important;
}

.padding-35 {
    padding: 35px !important;
}

.padding-40 {
    padding: 40px !important;
}

.padding-45 {
    padding: 45px !important;
}

.padding-50 {
    padding: 50px !important;
}

.pl-5 {
    padding-left: 5px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-25 {
    padding-left: 25px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-35 {
    padding-left: 35px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pl-45 {
    padding-left: 45px !important;
}

.pl-50 {
    padding-left: 50px !important;
}

.pl-55 {
    padding-left: 55px !important;
}

.pl-60 {
    padding-left: 60px !important;
}

.pr-5 {
    padding-right: 5px !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pr-25 {
    padding-right: 25px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-25 {
    padding-top: 25px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pb-5 {
    padding-bottom: 5px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-1 {
    padding-bottom: 15px !important;
}

.pb-85 {
    padding-bottom: 85px !important;
}

/*cursor*/
.c-pointer {
    cursor: pointer;
}

.n-pointer {
    pointer-events:none;
}

c-not-allow {
    cursor: not-allowed;
}

.break-all {
    word-break: break-all;
}

.float-none {
    float: none;
}

/*line hieght style*/
.line-height-0 {
    line-height: 0px;
}

.line-height-15 {
    line-height: 15px;
}

.line-height-18 {
    line-height: 18px;
}

.line-height-20 {
    line-height: 20px !important;
}

.line-height-25 {
    line-height: 25px !important;
}

.line-height-30 {
    line-height: 30px !important;
}

.line-height-35 {
    line-height: 35px !important;
}

.line-height-40 {
    line-height: 40px !important;
}



.float-right-desktop {
    float: right;
}

.float-left-desktop {
    float: left;
}

.text-right-desktop {
    text-align: right;
}

.text-left-desktop {
    text-align: left !important;
}

.no-padding-desktop {
    padding: 0;
}

.pd-top10px {
    padding-top: 10px !important;
}

/*border */
.border-bt-cc {
	border-bottom: 1px solid #ccc !important;
}
/*style from tablet*/
@media (max-width:990px) {
    .float-right-desktop {
        float: none !important;
    }

    .float-left-desktop {
        float: none;
    }

    .text-right-desktop {
        text-align: left;
    }

    .no-padding-desktop {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}


.line-full {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #dadada;
}

.line-cc-full {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
}

.line-dash-full {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #dadada;
}

.line-dot-full {
    width: 100%;
    height: 1px;
    border-bottom: 1px dotted #dadada;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

/*style form slide image*/
.group-slide .item {
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    width: 100%;
}

.group-slide .carousel-indicators li {
    background-color: #dbdbdb;
    border: 1px solid #dbdbdb;
}

    .group-slide .carousel-indicators li.active {
        background-color: #dc301c;
        border: 1px solid #dc301c;
    }

.field-validation-error {
    color: #FF3333;
    margin-top: 10px;
    position: absolute;
    right: 0;
    bottom: 35px;
    padding: 5px 10px;
}

.group-input .field-validation-error {
    position: absolute !important;
    bottom: 43px;
}

.group-input .signup-error-title span:before {
    transform: inherit !important;
    bottom: 100% !important;
}

.line-height-45 {
    line-height: 45px;
}

.color-033 {
    color: #00338d !important;
}

.blue-dark {
    color: #0191da;
}

.display-inherit {
    display: inherit !important;
}

.bg-f0 {
    background-color: #f0f0f0 !important;
}

.bg-65 {
    background-color: #656565 !important;
}

.bg-de {
    background-color: #dedede !important;
}

.bg-f0 {
    background-color: #f0f0f0 !important;
}

.bg-65 {
    background-color: #656565 !important;
}

.bg-de {
    background-color: #dedede !important;
}

.color-002 {
	color: #00338d !important;
}

.color-005 {
    color: #005eb8 !important;
}

.border-color-003 {
    border: 1px solid #00338d !important; 
}

.pr-60 {
    padding-right: 60px !important;
}

.-blueopa-7 {
    opacity: 0.7 !important;
}

.opa-8 {
    opacity: 0.8 !important;
}

.opa-9 {
    opacity: 0.9 !important;
}

.font-weight-normal {
    font-weight: normal !important;
}

.ml-150 {
    margin-left: 150px !important;
}

.color-08b {
    color: #00008b !important;
}

.color-cc {
    color: #ccc !important;
}
.color-003{
    color: #00338d !important;
}
.not-active {
   pointer-events: none;
   cursor: default;
}

.line-height-120p{
    line-height:120%
}