@{
    ViewBag.Title = "Liên hệ";
    ViewBag.SubMenu = "Danh Mục Thông Tin";
}

<link href="@Url.Content("~/Content/Contact.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/app/controller/contactController.js")"></script>
<script src="@Url.Content("~/Scripts/app/models/contactModel.js")"></script>
<script src="@Url.Content("~/Scripts/app/services/contactService.js")"></script>

@using (Ajax.BeginForm("Index", "Contact", null, new AjaxOptions { HttpMethod = "POST" }, new { @name = "contactValid", @id = "contactValid", @novalidate = "novalidate" }))
{
    <div ng-controller="contactController">
        <div class="row">
            <div class="col-md-12">
                <div kendo-grid
                     id="ContactTable"
                     k-options="ContactSection"
                     k-on-save="ContactListSave">
                </div>
            </div>
        </div>

        <div id="KenWindownContact" class="k-window-content" style="display:none;">
            <div class="clear-5"></div>
            <div class="alert alert-danger mr-15" ng-show="IsSave && formHasError()">
                <ul>
                    <li ng-show="showErrorMsg(contactValid.Content)">Nội Dung Không Được Để Trống</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <div class="col-sm-2">
                        <label>Nội Dung</label>
                        <span class="asterisk">*</span>:
                    </div>
                    <div class="col-sm-10">
                        <textarea class="form-control"
                                  name="Content"
                                  id="Content"
                                  ng-model="contact.Content"
                                  kendo-editor
                                  k-options="CustomDetailEditorOptions"
                                  ng-bind-html="contact.Content"
                                  ng-class="{'has-error': showErrorMsg(contactValid.Content) }"
                                  required></textarea>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-4">
                        <label>Trạng Thái</label>
                        <span class="asterisk"></span>:
                    </div>
                    <div class="col-sm-8">
                        <input type="checkbox"
                               id="TrangThai"
                               ng-model="contact.Status"
                               name="TrangThai"
                               class="k-checkbox" />
                        <label class="k-checkbox-label" for="TrangThai">Kích Hoạt</label>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="contact.ContactID > 0">
                <div class="col-sm-9">
                    <div class="col-sm-2">
                        <label>Người Tạo:</label>
                    </div>
                    <div class="col-sm-10">
                        <label ng-bind="contact.CreatedByName"></label>
                        <input type="hidden" id="CreatedByName" name="CreatedByName" ng-model="contact.CreatedByName" ng-os-hidden />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-4">
                        <label>Ngày Tạo:</label>
                    </div>
                    <div class="col-sm-8">
                        <label ng-bind="contact.CreatedDate"></label>
                        <input type="hidden" id="CreatedDate" name="CreatedDate" ng-model="contact.CreatedDate" ng-os-hidden />
                    </div>
                </div>
            </div>
            <div class="row" ng-show="contact.ContactID > 0">
                <div class="col-sm-9">
                    <div class="col-sm-2">
                        <label>Người Sửa:</label>
                    </div>
                    <div class="col-sm-10">
                        <label ng-bind="contact.LastUpdatedByName"></label>
                        <input type="hidden" id="LastUpdatedByName" name="LastUpdatedByName" ng-model="contact.LastUpdatedByName" ng-os-hidden />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-4">
                        <label>Ngày Sửa:</label>
                    </div>
                    <div class="col-sm-8">
                        <label ng-bind="contact.LastUpdatedDate"></label>
                        <input type="hidden" id="LastUpdatedDate" name="LastUpdatedDate" ng-model="contact.LastUpdatedDate" ng-os-hidden />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button"
                            id="btnSave"
                            class="btn btn-primary float-right btn-swidth mr-10"
                            ng-show="ShowBtnSave"
                            ng-disabled="DisabledBtnSave"
                            ng-click="save(contactValid)">
                        <i class="fa fa-save " aria-hidden="true"></i> LƯU
                    </button>

                    <button type="button"
                            id="btnUpdate"
                            class="btn btn-primary float-right btn-swidth mr-10"
                            ng-show="ShowBtnUpdate"
                            ng-disabled="DisabledBtnUpdate"
                            ng-click="update(contactValid)">
                        <i class="fa fa-save " aria-hidden="true"></i> CẬP NHẬT
                    </button>
                    <button type="button"
                            class="btn btn-danger k-grid-delete float-right btn-swidth mr-10"
                            ng-click="close()">
                        <i class="fa fa-times" aria-hidden="true"></i> ĐÓNG
                    </button>

                </div>
            </div>
        </div>
    </div>
}

